.wrapper {
  margin: 20px auto;
  border: 1px solid black;
  position: relative;
  height: 75px;
}

.groupWrapper {
  margin: 5px auto;
  border: 1px dashed black;
  height: 80%;
  width: 90%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
  justify-content: space-around;
}

/**
 * Reset
 */
.btn {
  display: flex-inline;
  width: 75px;
  margin: auto;
}